<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="https://kit.fontawesome.com/e75b4ddf0e.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class="navbar">
            <div class="container">
              <a class="logo" href="/index.html">Leandro<span> Machado</span></a>
              <img
                id="mobile-cta"
                class="mobile-menu"
                src="/assets/images/menu.svg"
                alt="Open Navigation"
              />
              <nav>
                <img
                  src="/assets/images/exit.svg"
                  alt="exit menu"
                  id="mobile-exit"
                  class="mobile-menu-exit"
                />
                <ul class="primary-nav">
                  <li><a href="/index.html">Home</a></li>
                  <li><a href="#">About Me</a></li>
                  <li><a href="/assets/images/Leandro Machado CV.pdf" download>Resume</a>
                  <li><a href="/components/projects.html">Projects</a></li>
                </ul>
                <ul class="secondary-nav">
                  <li class = "go-premium-cta"><a href="/components/contact.html">Contact Me</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="aboutme">
            <div class="content">
            <div class="pic-div">
            <img class="about-profil" src="/assets/images/rubiks.jpg" alt="rubiks cube">
            </div>
            <h2>Leandro Machado</h2>
            <div class="border">
            <div class="about-border"></div>
            </div>
            <p class="p2">I am a Software Engineer. I am currently focusing on the area of Full Stack 
              Web Development with a particular interest in mobile app development using React.<br>
              <br>
              Ever since I can remember I have always wanted to do something with my life that is both meaningful and challenging.
              This life philosophy has led me toward the path of Engineering. At school, I have always had a 
              particular interest in both mathematics and science. My first introduction in fact in college towards 
              computer science was when I enrolled in my first discrete mathematics course. I went from finally understanding what the term 
              "algorithm" was,  a term I had only heard of when I learned how to solve a Rubik's cube, to actually building and programming a vehicle capable of autonomously pathfinding its way out of any maze.
              <br><br>
              Right after graduating with my Bachelor's, I enrolled in a coding Bootcamp at the University of Arizona.
              During my six months at UA, I acquired an interest in the area of Web Development. I became a better programmer and built on the theoretical knowledge I acquired while completing my formal college education.
              I have experience with a variety of different tools and technologies like HandleBars.js, CSS, React, Git, MySql, Bootstrap, and jQuery.
              However, one of the most valuable skills that I learned during my time at UA was how to truly collaborate with a team of developers.
              <br><br>
              As a proud alumnus of both Arizona State University and the University of Arizona, I want to re-purpose everything I learned from my Introduction to Engineering to
              everything from Bootcamp in a way where it is not only interesting to me but to also use my skills to create life-changing technologies that truly help humanity.
              

            
            
          
              
            

            </p>
            <div class="social-div">
            <ul class="socials"> 
                <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li> 
                <li><a href="https://www.instagram.com"><i class="fab fab fa-instagram"></i></a></li>    
                <li><a href="https://www.linkedin.com/in/leandro-machado-a463a8209/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.wa.link/8ouo8h"><i class="fab fab fab fa-whatsapp"></i></a></li>        
            </ul>
            </div>

          </div>
          </div>
          <script src="/assets/javascript/script.js"></script>

</body>
</html>